<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgroBox</title>
    <link rel="icon" href="imagens/logo.png">   
    <link rel="stylesheet" href="css/agro.css">
    <link rel="stylesheet" href="css/carroseis.css">

</head>

<body>

    <!-- NavBar -->
     
    <%- include('../partials/navbar'); %>

        <!--Carrosel-->

        <section class="slider">

            <ul class="slides">
                <li class="slide"><img src="imagens/imagem-alimento2_carrosel.jpeg" alt="slide1"> </li>
                <li class="slide"><img src="imagens/imagem-ambiente_carrosel.jpg" alt="slide2"> </li>
                <li class="slide"><img src="imagens/imagem_carrosel.jpg" alt="slide3"> </li>
            </ul>

        </section>

        <!-- Carrosel 2 FRUTAS -->

        <%- include('../partials/carroselFrutas'); %>

                    
        <!-- Carrosel 3 LEGUMES -->
      
        <%- include('../partials/carroselLegumes'); %>

        <!-- Assinatura Agro -->


        <main class="agro-assinatura">

            <section class="agro-content">
                <h1> Assine o <strong> AgroPremium </strong> </h1>
                <ul>
                    <li> Monte sua cesta de entrega semanal ou mensal </li>
                    <li> Ganhe alguma coisa ae </li>
                    <li> Receba frete grátis </li>
                    <li> Promoçoes exclusivas </li>
                </ul>
            </section>

            <section class="agro-imagem">
                <img src="imagens/mulher-agro.png" alt="Imagem da assinatura premium">
            </section>

        </main>


        <!-- Carrosel 4 Agricultores em Destaques  -->

        <%- include('../partials/agricultores'); %>
            

        
        <!-- Sobre Agrobox -->

        <main class="sobre-agrobox">

            <section class="content-Agrobox">
                <h1> Quem é Agrobox? </h1>
                <p>AgroBox é uma plataforma inovadora e abrangente dedicada <br>
                    ao mundo da agricultura, reunindo pequenos agricultores e até <br>
                    os maiores espalhados pelo Brasil para publicar seus produtos e<br>
                    garantir a eles uma plataforma de auxulio para venda desses <br>
                    produtos.
                </p>
                <button class="message-button-agrobox"> Leia Mais </button>

            </section>

            <section class="agrobox-imagem">
                <img src="imagens/velinha-plantando.jpg" alt="Imagem de uma agricultora">
            </section>

        </main>

        <!-- Rodapé -->
        <%- include('../partials/footer'); %>

</body>

</html>

<!-- Script -->



<script src="js/slider.js"> </script>
<script src="js/index.js"> </script>
