<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgroBox</title>
    <link rel="icon" href="imagens/logo.png">  
    <link rel="stylesheet" href="css/agro.css">
    <link rel="stylesheet" href="css/carroseis.css">
    <link rel="stylesheet" href="css/chat.css">

    
    

</head>

<body>
    
    <script src="/js/menuMobile.js"></script>
    
    <!-- NavBar -->
     
    <%- include('../partials/navbar'); %>

        <!--Carrosel-->

        <section class="slider">
            <ul class="slides">
                <li class="slide">
                    <a class="linksSlider" href="/premium">
                    <img class="desktop" src="imagens/slider1.png" alt="slide1">
                    <img class="mobileFoto" src="imagens/slider1-mobile.png" alt="slide1">
                    </a>
                </li>
                <li class="slide">
                    <a class="linksSlider" href="/premium">
                    <img class="desktop" src="imagens/slider2.png" alt="slide2">
                    <img class="mobileFoto" src="imagens/slider2-mobile.png" alt="slide2">
                    </a>
                </li>
                <li class="slide">
                    <a class="linksSlider" href="/premium">
                    <img class="desktop" src="imagens/slider3.png" alt="slide3">
                    <img class="mobileFoto" src="imagens/slider3-mobile.png" alt="slide3">
                    </a>
                </li>
            </ul>
        </section>

        <!-- Carrosel 2 FRUTAS -->

        <%- include('../partials/carroselFrutas'); %>

                    
        <!-- Carrosel 3 LEGUMES -->
      
        <%- include('../partials/carroselLegumes'); %>

        <!-- Assinatura Agro -->


        <main class="agro-assinatura">

            <a href="/premium" class="agro-content clickable-section">
            <section class="agro-content">
                <h1 class="agroText"> Assine o <strong class="laranjaText"> AgroPremium </strong> </h1>
                <h1 class="agroMobileText"> Assine o <strong class="verdeText">Agro+</strong></h1>
                <ul>
                    <li> Monte sua cesta de entrega semanal ou mensal </li>
                    <li> Desconto no Frete</li>
                    <li> Receba frete grátis </li>
                    <li> Promoçoes exclusivas </li>
                </ul>
                <a href="/premium">
                <button class="message-button-agrobox1">Conheça Mais</button>
                </a>
            </section>
        </a>
        
            <section class="agro-imagem">
                <img src="imagens/mulher-agro.png" alt="Imagem da assinatura premium">
            </section>
       
        </main>


        <!-- Carrosel 4 Agricultores em Destaques  -->

        <%- include('../partials/agricultores'); %>
            

        
        <!-- Sobre Agrobox -->

        <main class="sobre-agrobox">

            <section class="content-Agrobox">
                <h1> Quem é Agrobox? </h1>
                <p>AgroBox é uma plataforma inovadora e abrangente dedicada <br>
                    ao mundo da agricultura, reunindo pequenos agricultores e até <br>
                    os maiores espalhados pelo Brasil para publicar seus produtos e<br>
                    garantir a eles uma plataforma de auxulio para venda desses <br>
                    produtos.
                </p>

                <a href="/sobre">
                <button class="message-button-agrobox">Leia Mais</button>
                </a>

                <a class="message-buttonMobile-agrobox" style="text-decoration: underline;" href="/sobre">Leia Mais</a>
            </section>

            <section class="agrobox-imagem">
                <img src="imagens/velinha-plantando.jpg" alt="Imagem de uma agricultora">
            </section>

            
        <!-- minichat -->
        <%- include('../partials/minichat'); %>

        </main>

        <!-- Rodapé -->
        <%- include('../partials/footer'); %>

</body>

</html>

<!-- Script -->


<script src="js/carrosel3.js"> </script>
<script src="js/index.js"> </script>
<script src="js/resumoCarrinho.js"> </script>